@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

header {
  background: url('./assets/HEADER.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.navbar_items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_items a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar_btns{ 
  display: flex;
  align-items: center;
  gap: .5rem;
}

.navbar_btns button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.navbar_btns button img {
  width: 1.5rem;
}

.navbar_btns button span {
  display: block;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 1rem;
  padding: 0 .2rem;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

form  {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 2rem;
}

.search_input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  width: fit-content;
}

.search_input img {
  width: 1.5rem;
}

.search_input input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1rem;
}

.search_input input::placeholder{
  color: white
}

.main_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  justify-content: space-between;
  position: absolute;
  bottom: 5rem;
}

.socials img {
  width: 1.5rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.main {
  text-align: center;
}

.main h1 {
  font-size: 6rem;
  color: white;
  margin: 0;
}

.pry_btn {
  background: white;
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 5px 5px 0 black;
  width: fit-content;
}

section {
  max-width: 90vw;
  margin: 4rem auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none; 
  color: black;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

.title div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sec_btn {
  background: black;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 5px 5px 0 white;
}

.best_sellers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0;
}

.best_sellers li {
  list-style: none;
}

.product_img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.best_sellers li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #9c9c9c;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

.best_sellers li p {
  font-size: 1.2rem;
  color: #9c9c9c;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: .5rem;
}

.star {
  width: 1.5rem;
}

.best_sellers li p span {
  border-right: 1px solid #9c9c9c;
  border-left: 1px solid #9c9c9c;
  padding: 0 .1rem;
}

.gray_bg {
  color: white;
  max-width: 100vw;
  padding: 3rem 0;
  background: #222222;
}

.logo_bg {
  max-width: 90vw;
  margin: 0 auto;
  background: url(./assets/logo.svg), #222222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: overlay;
  height: 15rem;
  display: grid;
  place-content: center;
  text-align: center;
}

.gray_bg div h2{
  font-size: 5rem;
  margin: 0;
  line-height: .8;
}

.gray_bg div a {
  width: fit-content;
  margin: 1rem auto auto;
}

.discount {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 2rem;
  max-width: 60vw;

  img {
    width: 400px;
    aspect-ratio: 1/1.1;
    object-fit: cover;
  }

  h2 {
    font-size: 5rem;
    line-height: 1;
    margin: 0;
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.new {
  background: url('./assets/model\ 2.jpg'), #2222229a;
  background-blend-mode: overlay;
  height: 25rem;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  margin: 8rem auto 0;

  .pry_btn {
    align-self: flex-end;
  }

  h2 {
    font-size: 5rem;
    line-height: .9;
  }

  p {
    margin: 0;
    width: 30%;
  }
}

.new_products {
  margin: 0 auto 4rem;

  .product_img {
    height: 200px;;
  }
}

footer {
  background: #222222;
  color: white;
  padding: 3rem 0;

  .logo img {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .newsletter {
    form {
      margin-top: 1rem;

      input {
        border: none;
        outline: none;
        background: #161616;
        color: white;
        font-size: .8rem;
        /* width: 300px; */
        padding: 1rem;
      }

      button {
        background: #161616;
        border: 1px solid white;
        outline: none;
        color: white;
        font-size: 1.5rem;
        font-family: 'Bebas Neue', sans-serif;
        padding: .4rem 1rem;
      }
    }
  }

  .logo_bg {
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    height: 10rem;
  }
}